.details{"data-message-id": "#{message.id}", "data-group-id": "#{message.group_id}"}
  .detail__user
    = message.user.name
  .detail__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .detail__contents
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?