.details{"data-message-id": "#{message.id}"}
  .detail__user
    = message.user.name
  .detail__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .detail__contents
    - if message.content.present?
      = message.content
    %br= image_tag message.image.url, class: 'lower-message__image', height:"128", width:"128" if message.image.present?